/* styles.css or PlaylistContainer.css */

.playlist-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    border-radius: 4px;
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .playlist-card h2 {
    margin-top: 0;
  }
  
  .button-group {
    margin-top: 8px;
  }
  
  .edit-button,
  .delete-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .edit-button:hover,
  .delete-button:hover {
    opacity: 0.8;
  }
  